<!doctype html><html><head>
    <meta charset="utf-8"><title>Tilføj snack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head><body>
    <div class="card" style="max-width:420px">
    <h2>Tilføj ny snack</h2>
    <form method="post">
      <label>Navn <input required name="name"></label><br>
      <label>kcal <input  name="calories" type="number" step="any"></label><br>
      <label>Gram <input  name="grams"    type="number" step="any"></label><br>
      <label>Protein <input name="protein" type="number" step="any"></label><br>
      <label>Carbs   <input name="carbs"   type="number" step="any"></label><br>
      <button style="margin-top:1rem">Gem</button>
    </form>
    </div></body></html>
    